<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>ngModel Example</h4>
    <div [ngModel]="name" ngDefaultControl>
      <h5>Place Holder içinde bulunan veri ngModel Kullanulmıştır</h5> 
         <label>Name</label>
         <input type="text" placeholder={{name}}>
    </div>
    <p>-----------------------------------------------------------------------------------------------</p>
    <h5>İnterface-Model yapısı kuş ile hayvan arasında kurulmuştur.</h5> 
    <div [ngModel]="bird" name="bird" ngDefaultControl>
      <p ><b>{{bird.type}}</b></p>
      <ul >
        <li><b>Bird Name</b> {{bird.name}}</li>
        <li><b>Old: </b>{{bird.age}} Years</li>
        <li><b>Weight :</b>{{bird.weight}} Kg</li>
        <li><b>Habitat Type: </b>{{bird.habitat}} </li>
        <li *ngIf="bird.isFlying"><b>Can It Fly: </b>Is Can Fly</li>
        <li *ngIf="!bird.isFlying"><b>Can It Fly: </b>Is Can't Fly</li>
      </ul>
    </div>
    <p>-----------------------------------------------------------------------------------------------</p>
    <h5>Two- Way Data Binding ile birlikte bir veriyi almak için kullanılan metot.</h5>
    <form>
      <label for="name">Bird Name</label><br />
      <input id="name" type="text" placeholder="Pigeon" [(ngModel)]="bird.name" #names="ngModel" [ngModelOptions]="{standalone: true}"><br />
      <label id="old">Old</label><br />
      <input id="old" type="number" placeholder="10" [(ngModel)]="bird.age" [ngModelOptions]="{standalone: true}"><br />
      <label id="weight">Weight(Kg)</label><br />
      <input id="weight" type="number" placeholder="5" [(ngModel)]="bird.weight" [ngModelOptions]="{standalone: true}"><br />
      <label id="habitat">Habitat</label><br />
      <input id="habitat" type="text" placeholder="Ocean" [(ngModel)]="bird.habitat" [ngModelOptions]="{standalone: true}"><br />
      <label>Can It Fly</label><br />
      <select  id="isFlying"  [(ngModel)]="bird.isFlying" [ngModelOptions]="{standalone: true}"><br />
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select><br />
    </form>
</body>
</html>